
a,.tp-caption a.btn:hover {
	color: rgba(0, 0, 0, 0.783);
}
.top-nav-collapse {
	background:lavender ;
}

@media (max-width: 768px) {
  .navbar, .navbar-nav {
		background: lavender!important;
	}

	.navbar-nav a {
		color: grey !important;
	}
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: rgb(171, 103, 226);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: lavender;
}

.widget-avatar .avatar:hover {
    border: 5px solid ;
}

.bg-skin {
	background: lavender;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: lavender;
}

footer {
    background-color: lavender;
}

.btn-skin {
  color: grey;
  background-color: lavender;
  border-color: lavender
}
